---
import PostsLayout from "layouts/PostsLayout.astro";

import { getAllFilesFromSubDir } from "lib/getContentFromSubdirectory";
import { Content as IndexBaseGuide } from "content/guides/les-bases/index.md";

const allPostsSlug = await getAllFilesFromSubDir("guides", "les-bases", "/");
---

<PostsLayout>
  <IndexBaseGuide />
  <ul>
    {
      allPostsSlug.map((post) => (
        <li>
          <a href={post.params.slug}>{post.props.entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</PostsLayout>
