---
import PostsLayout from "layouts/PostsLayout.astro";
import { getCollection } from "astro:content";

const guidesEntries = await getCollection("guides");
---

<PostsLayout title="Posts index page">
    <ul slot="article">
        {
            guidesEntries.map((post) => (
                <li>
                    <a href={`/${post.collection}/${post.slug}`}>
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</PostsLayout>
