---
import Footer from "components/ui/Footer.astro";
import Navbar from "components/ui/Navbar";
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-gray-900">
        <Navbar client:load />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    html {
        @apply min-h-screen;
    }
</style>
